DATABASE_URL="postgresql://USERNAME:PASSWORD@HOST:5432/shanti_backend?schema=public"
PORT=5000
ALLOWED_ORIGIN="http://localhost:8080"
TENANT_ID=18
RAZORPAY_KEY_ID="rzp_test_TRwwZsAG2Trlxn"
RAZORPAY_KEY_SECRET="your_razorpay_secret_key"
